*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    color:rgb(203, 193, 138);
}

.app{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding:20px;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.title{
    padding:20px;
}

.search{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width:50%;
    height:50px;
    border-radius: 20px;
    padding:10px;
    background: linear-gradient(45deg,rgb(46, 31, 7),rgb(14, 9, 0));
    box-shadow: 0.005px 0.005px 10px 1px rgb(35, 35, 35);
}

.search input{
    width:90%;
    height:100%;
    background-color: transparent;
    outline:none !important;
    border:none !important;
}

.search img{
    width:10%;
    height:100%;
}

.search img:hover{
   cursor: pointer;
}

/**
.container{
    width:90%;
    height: 70%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:20px;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
}
**/
.container{
    width:90%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
}

.movie{
    width: 250px;
    height: 360px;
    border-radius: 10px;
}

.movie:hover{
    transform:scale(1.05);
 }

.movie p{
    position: relative;
    z-index: 1;
    top:30px;
    padding-left: 5px;
    color:white;
    background-color: rgba(0, 0, 0, 0.517);
    font-size: 20px;
}

.movie img{
    position: relative;
    width:100%;
    height: 80%;
    border-radius: 10px 10px 0px 0px;
}

.movie .about{
    position: relative;
    top:-5px;
    width: 100%;
    height:20%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg,rgb(16, 11, 3),rgb(14, 9, 0));
    padding:2px;
    border-radius:0px 0px 10px 10px;
}

.movie .about{
    color:white;
    font-size: 13px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
